html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*#map {
  position: static !important;

}*/
#map-loader {
  height: 95vh;
}
/*title*/

#title h1 {
  z-index: 2;
  text-align: center;
  position: relative;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  margin: 0 0;
  height: 50px;
}

/*sidebar*/

#search-bar {
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  background-color: #cdcdcd;
  padding-left: 12px;
}

/* infow window*/

#venue-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#venue-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#venue-address,
#venue-rating,
#venue-price {
  font-size: 16px;
  text-align: center;
}

#venue-rating {
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  border-radius: 8px;
}

.item-desc {
  font-weight: bold;
}

/* venue list */

.venue-list {
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 60px;
  font-size: 18px;
}

.venue-list-item {
  padding: 8px 12px;
  color: #4d8f8f;
  border-radius: 8px;
  margin: 8px 12px;
}

.venue-list-item:hover {
  background-color: rgb(181, 212, 209);
  cursor: pointer;
  /*-webkit-box-shadow: 0px 10px 8px -4px rgba(214,214,214,1);
  -moz-box-shadow: 0px 10px 8px -4px rgba(214,214,214,1);
  box-shadow: 0px 10px 8px -4px rgba(214,214,214,1);*/
}

/*responsiveness*/

@media screen and (max-width: 660px) {
  #title {
    font-size: 26px;
  }
  #sidebar-title {
    display: none;
  }

  .venue-list {
    font-size: 16px;
  }
}

@media screen and (max-width: 660px) {
  #title {
    font-size: 6px;
    color: black;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 25px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}
